{{!-- PARA VENTANA DE TERRENO LADO ADMINISTRADOR --}}

{{!-- ------------------------- --}}
{{!-- datos elementales --}}
<div id="id_tipo_ventana" data-tipo_ventana="normal"></div>
<div id="id_objetivo_tipo" data-objetivo_tipo="terreno"></div>
<div id="id_objetivo_codigo" data-objetivo_codigo="{{codigo_terreno}}"></div>
{{!-- ------------------------- --}}

{{> opciones_nav}}

{{> adm_cabezeras_internas}}

{{!-- <div class="pestanas_navegacion"> --}}
<div class="pestanas_navegacion">
    <ul class="nav nav-tabs" id="tab_proyecto" role="tablist">
        {{!-- de todos los tabs se eliminao el atributo data-toggle="tab" , esto para que funcionen los HREF y nos
        redireccionen a la ventana correspondiente al tab elegido --}}

        {{#if descripcion_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/descripcion" class="nav-link active"
                id="descripcion_te-tab" role="tab" aria-controls="descripcion_te"
                aria-selected="true">Descripci칩n</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/descripcion" class="nav-link" id="descripcion_te-tab"
                role="tab" aria-controls="descripcion_te" aria-selected="false">Descripci칩n</a>
        </li>
        {{/if}}

        {{#if fracciones_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/fracciones" class="nav-link active"
                id="fracciones_te-tab" role="tab" aria-controls="fracciones_te"
                aria-selected="true">Fracciones</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/fracciones" class="nav-link" id="fracciones_te-tab"
                role="tab" aria-controls="fracciones_te" aria-selected="false">Fracciones</a>
        </li>
        {{/if}}

        {{#if imagenes_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/imagenes" class="nav-link active" id="imagenes_te-tab"
                role="tab" aria-controls="imagenes_te" aria-selected="true">Im치genes</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/imagenes" class="nav-link" id="imagenes_te-tab"
                role="tab" aria-controls="imagenes_te" aria-selected="false">Im치genes</a>
        </li>
        {{/if}}


        {{#if documentos_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/documentos" class="nav-link active"
                id="documentos_te-tab" role="tab" aria-controls="documentos_te" aria-selected="true">Documentos</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/documentos" class="nav-link" id="documentos_te-tab"
                role="tab" aria-controls="documentos_te" aria-selected="false">Documentos</a>
        </li>
        {{/if}}

        {{#if proyectos_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/proyectos" class="nav-link active" id="proyectos_te-tab"
                role="tab" aria-controls="proyectos_te" aria-selected="true">Proyectos</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/proyectos" class="nav-link" id="proyectos_te-tab"
                role="tab" aria-controls="proyectos_te" aria-selected="false">Proyectos</a>
        </li>
        {{/if}}

        {{#if copropietario_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/copropietario" class="nav-link active" id="copropietario_te-tab"
                role="tab" aria-controls="copropietario_te" aria-selected="true">Copropietario</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/copropietario" class="nav-link" id="copropietario_te-tab" role="tab"
                aria-controls="copropietario_te" aria-selected="false">Copropietario</a>
        </li>
        {{/if}}

        {{#if estados_terreno}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/estados" class="nav-link active" id="estados_te-tab"
                role="tab" aria-controls="estados_te" aria-selected="true">Estados</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/laapirest/terreno/{{codigo_terreno}}/estados" class="nav-link" id="estados_te-tab" role="tab"
                aria-controls="estados_te" aria-selected="false">Estados</a>
        </li>
        {{/if}}

    </ul>
</div>

{{#if descripcion_terreno}}
{{> adm_te_descripcion}}
{{/if}}

{{#if fracciones_terreno}}
{{> adm_te_fracciones}}
{{/if}}

{{#if imagenes_terreno}}
{{> adm_te_imagenes}}
{{/if}}

{{#if documentos_terreno}}
{{> adm_te_documentos}}
{{/if}}

{{#if proyectos_terreno}}
{{> adm_te_proyectos}}
{{/if}}

{{#if copropietario_terreno}}
{{> adm_te_copropietario}}
{{/if}}

{{#if estados_terreno}}
{{> adm_te_estados}}
{{/if}}

{{> pie_pagina}}