{{!-- PARA VENTANA DE TERRENO LADO CLIENTE --}}

{{!-- ------------------------- --}}
{{!-- datos elementales --}}
<div id="id_tipo_ventana" data-tipo_ventana="normal"></div>
<div id="id_objetivo_tipo" data-objetivo_tipo="terreno"></div>
<div id="id_objetivo_codigo" data-objetivo_codigo="{{codigo_terreno}}"></div>
{{!-- ------------------------- --}}

{{> cli_opciones_nav}}

{{> cli_cabezeras_internas}}

<div class="wrapper" id="contenedor_imagenes_te" hidden>
    {{!-- solo indicamos la ruta "href" para visualizar la imagen (aun no la cargamos visualmente) --}}
    {{#each global_te.imagenes_te}}
    <a href="{{url}}" data-fancybox="gallery" data-caption="{{nombre_imagen}}"><img src="{{url}}" alt="{{nombre_imagen}}"></a>
    {{/each}}
</div>

<div class="w-100">
    <ul class="nav nav-tabs" id="tab_navegacion" role="tablist">
        {{!-- de todos los tabs se eliminao el atributo data-toggle="tab" , esto para que funcionen los HREF y nos redireccionen a la ventana correspondiente al tab elegido --}}

        {{#if descripcion_te}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/descripcion" class="nav-link active"
                id="descripcion_te-tab" role="tab" aria-controls="descripcion_te"
                aria-selected="true">Descripción</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/descripcion" class="nav-link" id="descripcion_te-tab"
                role="tab" aria-controls="descripcion_te" aria-selected="false">Descripción</a>
        </li>
        {{/if}}

        {{#if fracciones_te}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/fracciones" class="nav-link active"
                id="fracciones_te-tab" role="tab" aria-controls="fracciones_te"
                aria-selected="true">Fracciones</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/fracciones" class="nav-link" id="fracciones_te-tab"
                role="tab" aria-controls="fracciones_te" aria-selected="false">Fracciones</a>
        </li>
        {{/if}}

        {{#if proyectos_te}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/proyectos" class="nav-link active" id="proyectos_te-tab"
                role="tab" aria-controls="proyectos_te" aria-selected="true">Proyectos</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/proyectos" class="nav-link" id="proyectos_te-tab"
                role="tab" aria-controls="proyectos_te" aria-selected="false">Proyectos</a>
        </li>
        {{/if}}

        {{#if global_te.existe_copropietario_terreno}}
        {{#if copropietario_te}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/copropietario" class="nav-link active" id="copropietario_te-tab"
                role="tab" aria-controls="copropietario_te" aria-selected="true">Copropietario</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/copropietario" class="nav-link" id="copropietario_te-tab"
                role="tab" aria-controls="copropietario_te" aria-selected="false">Copropietario</a>
        </li>
        {{/if}}
        {{/if}}

        {{#if global_te.existe_calculadora_terreno}}
        {{#if calculadora_te}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/calculadora" class="nav-link active" id="calculadora_te-tab"
                role="tab" aria-controls="calculadora_te" aria-selected="true">Calculadora</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/terreno/{{codigo_terreno}}/calculadora" class="nav-link" id="calculadora_te-tab"
                role="tab" aria-controls="calculadora_te" aria-selected="false">Calculadora</a>
        </li>
        {{/if}}
        {{/if}}

    </ul>
</div>


{{#if descripcion_te}}
<div class="container">
    {{> cli_te_descri}}
</div>
{{/if}}

{{#if fracciones_te}}
<div class="contenido container-fluid">
    {{> cli_te_fracciones}}
</div>
{{/if}}

{{#if proyectos_te}}
<div class="contenido container-fluid">
    {{> cli_te_proyectos}}
</div>
{{/if}}

{{#if copropietario_te}}
<div class="contenido container-fluid">
    {{> cli_te_copropietario}}
</div>
{{/if}}

{{#if calculadora_te}}
<div class="contenido container">
    {{> cli_te_calculadora}}
</div>
{{/if}}

{{> cli_pie_pagina}}