{{! para la pestaña de ver los textos de GENERICO EMPRESAS en administrador maestro }}

<div class="contenido container-fluid">
    <div class="container-fluid">
        <div class="row mt-3">

            <div class="col-12 col-md-6">
                <div class="card my-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h5 class="text-center">DATOS EMPRESA</h5>
                    </div>

                    <div class="card-body text-primary">

                        <form id="form_datos_empresa">

                            <div class="form-group">
                                <label for="label_nombre_empresa_html" class="form-label">Nombre empresa</label>
                                <div>
                                    <input
                                        type="text"
                                        name="nombre_empresa_html"
                                        class="form-control"
                                        id="label_nombre_empresa_html"
                                        value="{{contenido_administrador.nombre_empresa}}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_mision_vision_html" class="form-label">Misión Visión</label>
                                <div>
                                    <input
                                        type="text"
                                        name="mision_vision_html"
                                        class="form-control"
                                        id="label_mision_vision_html"
                                        value="{{contenido_administrador.mision_vision}}"
                                        placeholder="Construir viviendas al alcancé de tod@s"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_whatsapp_html" class="form-label">Whatsapp</label>
                                <div>
                                    <input
                                        type="text"
                                        name="whatsapp_html"
                                        class="form-control"
                                        id="label_whatsapp_html"
                                        value="{{contenido_administrador.whatsapp}}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_telefono_fijo_html" class="form-label">Teléfono fijo</label>
                                <div>
                                    <input
                                        type="text"
                                        name="telefono_fijo_html"
                                        class="form-control"
                                        id="label_telefono_fijo_html"
                                        value="{{contenido_administrador.telefono_fijo}}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_facebook_html" class="form-label">Facebook</label>
                                <div>
                                    <input
                                        type="text"
                                        name="facebook_html"
                                        class="form-control"
                                        id="label_facebook_html"
                                        value="{{contenido_administrador.facebook}}"
                                        placeholder="https://"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_instagram_html" class="form-label">Instagram</label>
                                <div>
                                    <input
                                        type="text"
                                        name="instagram_html"
                                        class="form-control"
                                        id="label_instagram_html"
                                        value="{{contenido_administrador.instagram}}"
                                        placeholder="https://"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_tiktok_html" class="form-label">TikTok</label>
                                <div>
                                    <input
                                        type="text"
                                        name="tiktok_html"
                                        class="form-control"
                                        id="label_tiktok_html"
                                        value="{{contenido_administrador.tiktok}}"
                                        placeholder="https://"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_youtube_html" class="form-label">Youtube</label>
                                <div>
                                    <input
                                        type="text"
                                        name="youtube_html"
                                        class="form-control"
                                        id="label_youtube_html"
                                        value="{{contenido_administrador.youtube}}"
                                        placeholder="https://"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_direccion_html" class="form-label">Dirección</label>
                                <div>
                                    <input
                                        type="text"
                                        name="direccion_html"
                                        class="form-control"
                                        id="label_direccion_html"
                                        value="{{contenido_administrador.direccion}}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_texto_footer_adm_html" class="form-label">Texto Footer Adm</label>
                                <div>
                                    <input
                                        type="text"
                                        name="texto_footer_adm_html"
                                        class="form-control"
                                        id="label_texto_footer_adm_html"
                                        value="{{contenido_administrador.texto_footer}}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="label_year_derecho_html" class="form-label">Año copyright</label>
                                <div>
                                    <input
                                        type="text"
                                        name="year_derecho_html"
                                        class="form-control"
                                        id="label_year_derecho_html"
                                        value="{{contenido_administrador.year_derecho}}"
                                    />
                                </div>
                            </div>

                            <div class="text-center">
                                <input
                                    type="submit"
                                    value="Guardar datos"
                                    class="ref_boton_datos_empresa btn btn-primary"
                                />
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card my-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h5 class="text-center">TEXTO PRINCIPAL</h5>
                    </div>

                    <div class="card-body text-primary">

                        <p class="text-left"><strong>Nota: </strong>Es el texto que se verá acompañando a
                            la ventana de inicio lado Administrador y Cliente junto a los cuadros
                            descendentes.</p>
                        <p class="text-left">Recomendamos cambiar este texto dependiendo de los días o
                            eventos importantes que considere destacar.</p>

                        <form id="form_texto_principal_empresa">

                            <div class="form-group">
                                <label for="label_texto_principal_html" class="form-label">Texto principal</label>
                                <div>
                                    <textarea
                                        name="texto_principal_html"
                                        class="form-control"
                                        id="label_texto_principal_html"
                                        rows="5"
                                        placeholder="Edificando el futuro inmobiliario con entrega y eficiencia. Para saltos de línea use: <br>"
                                        title="Para saltos de línea use: <br>"
                                    >{{contenido_administrador.texto_inicio_principal}}</textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <input
                                    type="submit"
                                    value="Guardar principal"
                                    class="ref_boton_principal_transiciones btn btn-primary"
                                />
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>