{{! PARA LA PESTAÑA DE PROPIETARIO DEL INMUEBLE lado del ADMINISTRADOR }}

<div class="contenido container-fluid">
    
    <div class="row mt-4">

        {{#if contenido_propietario.existe_propietario}}

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>ELIMINAR PROPIETARIO</h5>
                        <i class="d-block fas fa-user-plus size_iconos"></i>
                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            <button
                                type="button"
                                class="btn btn-primary mr-3"
                                id="eliminar_propietario_inmueble"
                                data-ci="{{contenido_propietario.propietario_datos.ci_propietario}}"
                                >
                                Eliminar
                            </button>
                        </div>
                        <div class="mt-2">
                            Se procederá a eliminar toda la documentación que guarda el actual propietario con el inmueble. El propietario cambiara su estado de activo a pasivo con respecto al inmueble
                        </div>
                    </div>
                </div>
            </div>

        {{else}}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>AGREGAR PROPIETARIO</h5>
                        <i class="d-block fas fa-user size_iconos"></i>
                    </div>

                    <div class="card-body">

                        <div class="input-group ref_idCedulaIdentidad">
                            <input
                                type="text"
                                id="idCedulaIdentidad"
                                class="form-control"
                                placeholder="Cedula de identidad"
                            />

                            {{!-- data-ci="" o "###" o "###" o "###" --}}
                            {{!-- en lugar de "button" se encontraba "a" --}}
                            <div class="input-group-append">
                                <button class="llenar_datos_propietario btn btn-outline-secondary boton_resaltado" data-ci="">
                                    <i class="fas fa-user">
                                    </i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {{/if}}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>INMUEBLE</h5>
                    <i class="d-block fas fa-house-user size_iconos"></i>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    Precio Justo:
                                </div>
                                <div class="col-6">
                                    <span>{{precio_render}}</span> <span>Bs</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    Plusvalía:
                                </div>
                                <div class="col-6">
                                    <span>{{plusvalia_render}}</span> <span>Bs</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    {{#if contenido_propietario.esta_disponible}}
                                        Reserva:
                                    {{/if}}

                                    {{#if contenido_propietario.esta_remate}}
                                        Remate:
                                    {{/if}}
                                </div>
                                <div class="col-6">
                                    <span>{{pago_nuevo_propietario_render}}</span> <span>Bs</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="card my-4">
            <div class="card-header ref_boton_datos_pagos_propietario">
                <div class="d-flex justify-content-between">
                    <h5>PROPIETARIO</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    {{!-- <div class="p-3 col-12 col-sm-6"> --}}
                    <div class="col-12 col-lg-6">
                        <div>
                            {{> adm_propietario_datos}}
                        </div>

                        <div>
                            <button
                            type="button"
                            class="btn btn-primary mr-3"
                            id="guardar_datos_propietario"
                            data-ci="{{contenido_propietario.propietario_datos.ci_propietario}}"
                            >
                            Guardar
                            </button>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">

                        {{!-- ira sumando todos el pago que tendra que hacer el nuevo propietario si deseara adquirir el inmueble --}}
                        {{!-- pago_nuevo_propietario_render --}}

                        <div class="row">
                            <div class="col-12 col-sm-6 col-xl-3">
                                <p class="text-left texto-link">
                                    Pago
                                </p>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3">
                                <p class="text-left">
                                    <span>{{contenido_propietario.propietario_datos.pago_nuevo_propietario_render}}</span>
                                    <span>Bs</span>
                                </p>
                            </div>
                        </div>

                        <div>
                            <button
                            type="button"
                            class="btn btn-primary mr-3"
                            id="guardar_pago_propietario"
                            data-ci="{{contenido_propietario.propietario_datos.ci_propietario}}"
                            >
                            Guardar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row mt-4">

        <div class="card my-4">
            <div class="card-header ref_boton_pagos_propietario">
                <div class="d-flex justify-content-between">
                    <h5>PAGOS PROPIETARIO</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    
                    {{!-- <div class="p-3 col-12 col-sm-6"> --}}
                    <div class="p-3 col-12 col-lg-9 col-xl-6">
                        <div>
                            {{> adm_propietario_pagos}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="card my-4">
            <div class="card-header ref_boton_pagos_propietario">
                <div class="d-flex justify-content-between">
                    <h5>DOCUMENTOS PROPIETARIO</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    {{!-- <div class="p-3 col-12 col-sm-6"> --}}
                    <div class="p-3 col-12 col-lg-9 col-xl-6">
                        <div>
                            {{> adm_propietario_documentos}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>