{{! PAGOS EFECTUADOS POR EL PROPIETARIO }}

{{! <div class="col-12 col-sm-6 mt-4"> }}
<div class="p-3 col-12 col-lg-9 col-xl-6">

    <h5>Adquisición</h5>

    <p class="text-left">
        El primer pago del propietario para adquirir el inmueble.
    </p>

    <div class="row mt-4">
        <div class="col-12 col-lg-10 col-xl-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-xl-3">
                    <p class="text-left texto-link">
                        {{! adquisicion puede ser: Reserva o Remate }}
                        {{contenido_propietario.propietario_pagos.adquisicion}}
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <p class="text-left">
                        <span>{{contenido_propietario.propietario_pagos.pagado_primer_r}}</span>
                        <span>Bs</span>
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <p class="text-left texto-link">
                        {{! <b>Fecha Reserva</b> }}
                        Fecha Pago
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <p class="text-left">
                        {{contenido_propietario.propietario_pagos.fecha_re_re}}
                    </p>
                </div>
            </div>

        </div>
    </div>

    <br />

    {{! tabla de DESGLOCE DE PAGOS }}
    <h5>Cuotas de construcción</h5>
    <div class="row madre_tabla">
        <div class="col-12">

            <div class="barra-deslizadora-mob table-responsive">
                <table class="text-primary table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center texto-resaltado">#</th>
                            <th class="text-center texto-resaltado">Fecha</th>
                            <th class="text-center texto-resaltado">Cuota Bs</th>
                            <th class="text-center texto-resaltado">Estado</th>
                        </tr>
                    </thead>

                    {{! clase "cuerpo_filas" como referencia para agregar una nueva fila despues de
                    esta clase como HIJO con "append" }}
                    <tbody class="cuerpo_filas">

                            {{#each contenido_propietario.propietario_pagos.pagos_mensuales}}
                                <tr class="fila_registro">
                                    <td>{{orden}}</td>
                                    <td>{{fecha_render}}</td>
                                    <td>{{pago_bs_render}}</td>
                                    <td>
                                        <span class="{{color_css}}">
                                            {{leyenda_pago}}
                                        </span>
                                    </td>
                                </tr>
                            {{/each}}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>