{{! para la pestaña de CUENTA en administrador Empleado }}

<div class="tabla_caracteristicas contenido container-fluid my-4">
    <div class="table-responsive cuadro_estandart p-4">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-left texto-resaltado">DATOS ADMINISTRADOR</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-left texto-link">Nombres</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_nombres}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Apellidos</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_apellidos}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">C.I.</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ci_administrador}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Fecha nacimiento</td>
                    <td class="text-left texto-normal">{{contenido_administrador.fecha_nacimiento}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Teléfonos contacto</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_telefonos}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Departamento</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_departamento}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Provincia</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_provincia}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Ciudad</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_ciudad}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Dirección</td>
                    <td class="text-left texto-normal">{{contenido_administrador.ad_direccion}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Estado administrador</td>
                    <td class="text-left texto-normal">{{contenido_administrador.estado_administrador}}</td>
                </tr>
                <tr>
                    <td class="text-left texto-link">Fecha ingreso</td>
                    <td class="text-left texto-normal">{{contenido_administrador.fecha_ingreso}}</td>
                </tr>
            </tbody>

        </table>

        {{! fin de table responsibe }}
    </div>
</div>