{{! para pestaña RESUMEN del PROPIETARIO del lado ADMINISTRADOR y CLIENTE }}

{{!-- ------------------------------------------------------- --}}
{{!-- DATOS PARA SEGUNDERO DE PLUSVALIA --}}
{{!-- plus_r viene en unidades de: bs/seg --}}
<div id="contenedor_seg_plus" hidden>
    {{#each informacion.array_segundero}}
        <div class="cuerpo_plus">
            <span class="plus_r" data-plus_r="{{plus_r}}"></span>
            <span class="plus_fechaInicio" data-plus_fechaInicio="{{plus_fechaInicio}}"></span>
            <span class="plus_fechaFin" data-plus_fechaFin="{{plus_fechaFin}}"></span>
        </div>
    {{/each}}
</div>

{{!-- ------------------------------------------------------- --}}

<div class="contenido container">
    
    {{> segu_propietario_fraccion}}

    <div class="row my-4 cuadro_estandart">
        <div class="col-12">
            {{! table }}
            <h5 class="my-3 text-center"><b>Historial</b></h5>

            {{!-- ---------------------------------------- --}}
            {{#each informacion.historial_propietario}}
                <div class="col-12 col-sm-6 ">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        {{titulo_terreproy}}
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 15%;margin-top: 0.25em; margin-left: 0.25em;">
                                            <img
                                                src="/rutavirtualpublico/imagenes/{{bandera_ciudad}}"
                                                title="Bandera ciudad"
                                                style="width: 100%;"
                                            />
                                        </div>
                                        <div>
                                            <a href="{{laapirest}}{{terreproy}}/{{codigo_terreproy}}/descripcion">
                                                {{nombre_terreproy}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        {{titulo_producto}}
                                    </div>
                                    <div>
                                        <a href="{{laapirest}}{{tipo_producto}}/{{codigo_producto}}/descripcion">
                                            {{codigo_producto}}
                                        </a>
                                    </div>
                                    <div>
                                        {{!-- Fraccion o Propietario --}}
                                        {{titulo_fracpro}}
                                    </div>
                                    <div class="h6">
                                        <b>
                                            <span class="elvalor" data-bs="{{fracpro}}">{{fracpro_render}}</span>
                                            <span class="lamoneda">Bs</span>
                                        </b>
                                    </div>
                                    <div>
                                        {{estado}}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div>
                                        Plusvalía
                                    </div>
                                    <div class="h6">
                                        <b>
                                            <span class="elvalor" data-bs="{{plusvalia}}">{{plusvalia_render}}</span>
                                            <span class="lamoneda">Bs</span>
                                        </b>
                                    </div>
                                    <div>
                                        Ganancia
                                    </div>
                                    <div class="h6">
                                        <b>
                                            <span class="elvalor" data-bs="{{ganancia}}">{{ganancia_render}}</span>
                                            <span class="lamoneda">Bs</span>
                                        </b>
                                    </div>
                                    <div title="{{fecha_title}}">
                                        {{!-- Hace x dias --}}
                                        {{fecha_render}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{!-- ---------------------------------------- --}}

        </div>
    </div>
</div>