{{! PARA LA PESTAÑA DE PAGOS  DEL INMUEBLE lado del ADMINISTRADOR }}
<div class="contenido container-fluid">
    {{#if contenido_propietario.propietarios_inmueble}}
            
        <div class="row mt-4">
            <div class="col-12 col-lg-9 col-xl-6">

                <div class="card">
                    <div class="card-header">
                        <h5>PROPIETARIO(S)</h5>
                    </div>

                    <div class="card-body">

                        {{!-- anteriormente no incluia barra-deslizadora-mob --}}
                        {{! "table-responsive" es para que tenga un scroll en tamaños muy pequeños }}
                        <div class="tabla_caracteristicas barra-deslizadora-mob table-responsive cuadro_estandart p-4">

                            <table class="tabla_contenedora table">
                                <thead>
                                    <tr>
                                        <th class="texto-resaltado">Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="texto-resaltado">Estado</th>
                                        <th class="texto-resaltado">Acción</th>
                                    </tr>
                                </thead>

                                <tbody class="cuerpo_filas texto-normal">

                                    {{#each contenido_propietario.propietarios_inmueble}}
                                        <tr class="fila_registro">
                                            <td>
                                                <span>{{nombres_propietario}}</span>
                                                <span>{{apellidos_propietario}}</span>
                                            </td>
                                            <td>
                                                <span class="color-{{estado_propietario}} mx-3">{{estado_propietario}}</span>
                                            </td>
                                            <td>
                                                <button
                                                    type="button"
                                                    class="llenar_datos_pagos_propietario btn btn-warning mr-3"
                                                    data-tipo_llenado="datos_pagos_b" data-ci="{{ci_propietario}}" data-codigo_inmueble="{{codigo_inmueble}}"
                                                >
                                                    Ver
                                                </button>

                                                <a
                                                    class="btn btn-success"
                                                    href="/laapirest/propietario/{{ci_propietario}}/datos"
                                                >
                                                    Cuenta
                                                </a>
                                            </td>
                                        </tr>
                                    {{/each}}

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
                    
            </div>
        </div>
    {{/if}}
        
    <div class="card my-4">
        <div class="card-header ref_boton_datos_pagos_propietario">
            <div class="d-flex justify-content-between">
                <h5>INFORMACIÓN PROPIETARIO</h5>
                <div>
                    {{!-- data-id="guardar_datos_pagos_a"  o "guardar_datos_pagos_b" o  "guardar_datos" --}}
                    <button
                    type="button"
                    class="btn btn-primary mr-3"
                    id="guardar_datos_pagos_propietario"
                    data-id="guardar_datos_pagos_b"
                    data-ci=""
                    >
                        Guardar
                    </button>

                    <button
                    type="button"
                    class="btn btn-danger"
                    id="eliminar_datos_pagos_propietario"
                    data-ci=""
                    >
                        Eliminar
                    </button>
                </div>
                
            </div>
            
        </div>
        
        <div class="card-body">
            <div class="row">
                {{!-- <div class="col-12 col-sm-6 mt-4"> --}}
                <div class="p-3 col-12 col-lg-9 col-xl-6">

                    <div>
                        {{> adm_propietario_datos}}
                    </div>

                </div>

                {{> adm_propietario_pagos}}
            </div>
        </div>
    </div>

</div>