{{! PARTE BENEFICIOS DEL PROYECTO DEL LADO DEL CLIENTE PUBLICO }}
<span id="tipo_pestana_py" data-id="beneficios_py"></span>

<div id="contenedor_constructoras" hidden>
    {{! usamos data-  para no tener problemas con nombre que tengan añadidos espacios largos o saltos de lineas provocados por handlebars }}
    {{#each contenido_proyecto.constructoras}}
        <div class="cuerpo">
            <span class="nombre" data-nombre="{{nombre}}"></span>
            <span class="dolar_m2" data-dolarm2="{{contructora_dolar_m2}}"></span>
            <span class="costo" data-costo="{{costo_constructora}}"></span>
            <span class="sobreprecio" data-sobreprecio="{{sobreprecio}}"></span>
        </div>
    {{/each}}
</div>

<div id="contenedor_plusvalia" hidden>
    <span class="costo" data-costo="{{contenido_proyecto.precio_justo}}"></span>
    <span class="plusvalia" data-plusvalia="{{contenido_proyecto.plusvalias_total}}"></span>
</div>

<div class="row mt-5 cuadro_estandart py-3">
    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-gift"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">
            <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i class="fas fa-gift"></i></span>{{contenido_proyecto.titulo_plusvalia_py}}</div>
            <p class="escritura" style="text-align: justify;">
                {{contenido_proyecto.texto_plusvalia_py}}
            </p>
            <p style="text-align: justify;">
                Para conocer la plusvalía específica de un inmueble, ingrese a la página de este, y
                diríjase a la sección de "Beneficios".
            </p>

            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h5 class="texto-link">Plusvalía del proyecto</h5>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_graf_bene">
                        <div class="contendor_graf_plusvalia">
                            <canvas id="graficoPlusvalia"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_val_bene">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-up texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{contenido_proyecto.precio_justo}}">{{contenido_proyecto.precio_justo_render}}</span>
                                    <span class="h5 texto-link lamoneda">Bs</span>
                                </div>
                                <div>
                                    Es el precio justo del proyecto
                                    <b>SOLIDEXA</b>.
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-gift texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{contenido_proyecto.plusvalias_total}}">{{contenido_proyecto.plusvalias_total_render}}</span>
                                    <span class="h5 texto-link lamoneda">Bs</span>
                                </div>
                                <div>
                                    Plusvalía que se concede como beneficio entre todos los propietarios del proyecto <b>SOLIDEXA</b>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <p class="text-center h6">
                        <i>Fuente: Estudio de mercado</i> 
                    </p>
                </div>

                <div class="col-12">
                    <div class="escritura">
                        {{contenido_proyecto.nota_plusvalia_py}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row mt-5 cuadro_estandart py-3">
    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-hard-hat"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">
            <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i class="fas fa-hard-hat"></i></span>{{contenido_proyecto.titulo_construccion_py}}</div>
            <p class="escritura" style="text-align: justify;">
                {{contenido_proyecto.texto_construccion_py}}
            </p>
            <p style="text-align: justify;">
                Para más información, ponemos a disposicion de nuestros potenciales clientes los detalles
                del Presupuesto de contruccion del proyecto, en la pestaña "Informe económico".
            </p>

            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h5 class="texto-link">SOLIDEXA vs Constructoras tradicionales</h5>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_graf_bene">
                        <div class="contendor_graf_sobrep">
                            <canvas id="graficoSobreprecios"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_val_bene">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-up texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{contenido_proyecto.solid_constru}}">{{contenido_proyecto.solid_constru_r}}</span>
                                    <span class="h5 texto-link lamoneda">Bs</span>
                                    <span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio de contrucción del proyecto <b>SOLIDEXA</b> es menor.
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-down"
                                        style="font-size: 2rem; color: red;"
                                    ></i>
                                </div>
                                <div class="my-2" style="color: red;">
                                    <span class="h3 elvalor" data-bs="{{contenido_proyecto.prom_constructoras}}">{{contenido_proyecto.prom_constructoras_r}}</span>
                                    <span class="h5 lamoneda">Bs</span>
                                    <span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio promedio de construcción <b>tradicional</b> es más elevado.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-3">

                    <div class="d-flex justify-content-center">
                        {{! para un centrado correcto ambos deben tener el msmo valor de width }}
                        <div
                            class="tabla_caracteristicas table-responsive barra-deslizadora-mob"
                            id="constructoras_sobreprecios"
                            style="width: 40rem;"
                        >
                            <table class="text-primary" style="width: 40rem;" cellpadding="7">
                                <thead>
                                    <tr>
                                        <th>Otras constructoras</th>
                                        <th>Precio <span class="lamoneda">Bs</span>/m<sup>2</sup></th>
                                        <th>Precio <span class="lamoneda">Bs</span></th>
                                        <th>Sobreprecio <span class="lamoneda">Bs</span></th>
                                    </tr>
                                </thead>

                                <tbody class="cuerpo_filas">
                                    {{#each contenido_proyecto.constructoras_render}}
                                        <tr class="fila_ref">
                                            <td>{{nombre}}</td>
                                            <td class="elvalor" data-bs="{{contructora_dolar_m2}}">{{contructora_dolar_m2_r}}</td>
                                            <td class="elvalor" data-bs="{{costo_constructora}}">{{costo_constructora_r}}</td>
                                            <td class="elvalor" data-bs="{{sobreprecio}}" style="color: rgb(233, 66, 15);">{{sobreprecio_r}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="mt-2 text-center h6">
                            <i>Fuente: Estudio de mercado</i> 
                        </p>
                    </div>

                </div>

                <div class="col-12">
                    <p style="text-align: justify;">
                        <sup class="texto-link"><b>a</b></sup>&nbsp;Este valor corresponde netamente a la
                        sumatoria de las superficies de todos los INMUEBLES que conforman el presente
                        proyecto.
                    </p>

                    <div class="text-justify escritura">
                        {{contenido_proyecto.nota_construccion_py}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>