{{! PARA PESTAÑA INVERSOR DESDE EL LADO DEL CLIENTE PUBLICO (SOLO PODRA SER VISTO POR LOS PROPIETARIOS DEL INMUEBLE) }}

<span id="tipo_pestana_inm" data-id="inversor_inm"></span>

<div class="row cuadro_estandart mt-4 py-3">
    <div class="col-12 col-lg-6">
        <div class="d-flex">

            <div class="mr-3 contenedor-detalle-icono">
                <i class="fas fa-address-card"></i>
            </div>

            <div class="contenedor-detalle-texto">
                <h4 class="texto-resaltado">Datos Propietario</h4>

                <div class="table-responsive mt-2">
                    <table class="texto-normal" cellpadding="7">

                        <tbody>

                            <tr>
                                <td class="text-left texto-link">
                                    Nombres:
                                </td>

                                <td class="text-left">
                                    <span
                                    >&nbsp;&nbsp;{{informacion.propietario_datos.nombres_propietario}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left texto-link">
                                    Apellidos:
                                </td>

                                <td class="text-left">
                                    <span
                                    >&nbsp;&nbsp;{{informacion.propietario_datos.apellidos_propietario}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left texto-link">
                                    C.I.:
                                </td>

                                <td class="text-left">
                                    <span
                                    >&nbsp;&nbsp;{{informacion.propietario_datos.ci_propietario}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left texto-link">
                                    Estado:
                                </td>

                                <td class="text-left">
                                    <span
                                    >&nbsp;&nbsp;{{informacion.propietario_pagos.estado_propietario}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 d-flex mt-4 mt-lg-0">

        <div class="mr-3 contenedor-detalle-icono">
            <i class="fas fa-folder-open"></i>
        </div>

        <div class="contenedor-detalle-texto">
            <h4 class="texto-resaltado">Documentos privados</h4>

            <div class="ml-4">

                {{#each informacion.documentos}}
                    <div class="mt-3">
                        <i class="fas fa-file-pdf estilo-pdf-garantia"></i>
                        <a
                            class="ml-3"
                            href="/rutavirtualpublico/subido/{{codigo_documento}}.pdf"
                            target="_blank"
                        >
                            {{nombre_documento}}
                        </a>
                    </div>
                {{/each}}

            </div>

        </div>

    </div>

</div>

<div class="row mt-4 cuadro_estandart py-3">

    <div class="col-12 d-flex">
        <div class="mr-3 contenedor-detalle-icono">
            <i class="fas fa-file-invoice-dollar"></i>
            {{! <i class="fas fa-pen-square"></i> }}
        </div>

        <div class="container-fluid contenedor-detalle-texto">
            <h4 class="texto-resaltado">Pagos efectuados</h4>

            <div class="row mt-4">
                <div class="col-12 col-lg-10 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left texto-link">
                                {{! <b>Reserva</b> }}
                                Reserva
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left">
                                <span>{{informacion.propietario_pagos.pagado_reserva_render}}</span>
                                <span>$us</span>
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left texto-link">
                                {{! <b>Fecha Reserva</b> }}
                                Fecha Reserva
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left">
                                {{informacion.propietario_pagos.fecha_pagado_reserva_render}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-lg-10 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left texto-link">
                                {{! <b>Pago</b> }}
                                Pago
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left">
                                <span>{{informacion.propietario_pagos.pagado_pago_render}}</span>
                                <span>$us</span>
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left texto-link">
                                {{! <b>Fecha Pago</b> }}
                                Fecha Pago
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <p class="text-left">
                                {{informacion.propietario_pagos.fecha_pagado_pago_render}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <h4 class="my-4 texto-resaltado">Desglose de pagos</h4>

            {{! tabla de pagos mensuales }}
            <div class="row madre_tabla">
                <div class="col-12 col-lg-10">

                    <div
                        class="tabla_caracteristicas barra-deslizadora-mob table-responsive cuadro_estandart"
                    >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-left texto-resaltado">#&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th class="text-left texto-resaltado">Fecha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th class="text-left texto-resaltado">Valor $us.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                            </thead>

                            {{! clase "cuerpo_filas" como referencia para agregar una nueva fila despues de
                            esta clase como HIJO con "append" }}
                            <tbody class="cuerpo_filas texto-normal">

                                {{#each informacion.propietario_pagos.pagos_mensuales}}
                                    <tr class="fila_registro">
                                        <td>{{numero}}</td>
                                        <td>{{fecha_pago_render}}</td>
                                        <td>{{pago_render}}</td>
                                    </tr>

                                {{/each}}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>