{{! PARTE BENEFICIOS DEL INMUEBLE DEL LADO DEL CLIENTE PUBLICO }}

<span id="tipo_pestana_inm" data-id="beneficios_inm"></span>

<div id="contenedor_precios_mercado" hidden>
    {{#each informacion.precios_mercado}}
        <div class="cuerpo">
            <span class="direccion_comparativa" data-direccion="{{direccion_comparativa}}"></span>
            <span class="m2_comparativa" data-m2="{{m2_comparativa}}"></span>
            <span class="precio_comparativa" data-precio="{{precio_comparativa}}"></span>
            <span class="sus_m2" data-dolarm2="{{sus_m2}}"></span>
            <span class="precio_inm_volterra" data-convertido="{{precio_inm_volterra}}"></span>
            <span class="sobreprecio_venta" data-sobreprecio="{{sobreprecio_venta}}"></span>
        </div>
    {{/each}}
</div>

<div id="contenedor_constructoras" hidden>
    {{#each informacion.constructoras}}
        <div class="cuerpo">
            <span class="nombre" data-nombre="{{nombre}}"></span>
            <span class="dolar_m2" data-dolarm2="{{contructora_dolar_m2}}"></span>
            <span class="costo" data-costo="{{costo_constructora}}"></span>
            <span class="sobreprecio" data-sobreprecio="{{sobreprecio}}"></span>
        </div>
    {{/each}}
</div>

<div id="contenedor_plusvalia" hidden>
    <span class="precio_venta" data-precio="{{informacion.pv_volterra}}"></span>
    <span class="plusvalia" data-plusvalia="{{informacion.plusvalia_sus}}"></span>
</div>

<div class="row mt-5 cuadro_estandart py-3">
    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-gift"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">

            <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i
                        class="fas fa-gift"
                    ></i></span>{{informacion.titulo_plusvalia_inm}}</div>
            <p class="escritura" style="text-align: justify;">
                {{informacion.texto_plusvalia_inm}}
            </p>

            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h5 class="texto-link">Plusvalía del inmueble</h5>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_graf_bene">
                        <div class="contendor_graf_plusvalia">
                            <canvas id="graficoPlusvalia"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_val_bene">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-up texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{informacion.pv_volterra}}">{{informacion.costo_volterra_render}}</span>

                                    <span class="h5 texto-link lamoneda">Bs</span>
                                </div>
                                <div>
                                    Es el precio justo del inmueble
                                    <b>SOLIDEXA</b>.
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-gift texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{informacion.plusvalia_sus}}">{{informacion.plusvalia_sus_render}}</span>
                                    <span class="h5 texto-link lamoneda">Bs</span>
                                </div>
                                <div>
                                    Plusvalía que se concede como beneficio al propietario del inmueble <b>SOLIDEXA</b>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <p class="text-center h6">
                        <i>Fuente: Estudio de mercado</i>
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row mt-5 cuadro_estandart py-3">
    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-balance-scale"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">
            <div style="width: 100%;">
                <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i
                            class="fas fa-balance-scale"
                        ></i></span>{{informacion.titulo_precio_inm}}</div>
                <p class="texto-normal escritura" style="text-align: justify;">
                    {{informacion.texto_precio_inm}}
                </p>
            </div>

            {{! <div class="row mt-2" style="width: 100%;"> }}
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h5 class="texto-link">SOLIDEXA vs Otros inmuebles</h5>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_graf_bene">
                        <div class="contendor_graf_precios">
                            <canvas id="graficoPrecios"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_val_bene">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-up texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <b>
                                        <span class="h3 texto-link elvalor" data-bs="{{informacion.solid_precio}}">{{informacion.solid_precio_r}}</span>
                                    </b>
                                    
                                    <span class="h5 texto-link"><span class="lamoneda">Bs</span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio justo que pagas por el inmueble <b>SOLIDEXA</b> es menor.
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-down"
                                        style="font-size: 2rem; color: red;"
                                    ></i>
                                </div>
                                <div class="my-2" style="color: red;">
                                    <b>
                                        <span class="h3 elvalor" data-bs="{{informacion.prom_bs_m2}}">{{informacion.prom_bs_m2_r}}</span>
                                    </b>
                                    
                                    <span class="h5"><span class="lamoneda">Bs</span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio promedio que pagas por el inmueble <b>tradicional</b> es más elevado.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-3">

                    {{! <h5 class="text-center mt-4 mb-3 texto-normal">Precios de venta</h5> }}

                    <div class="d-flex justify-content-center">
                        {{! para un centrado correcto ambos deben tener el msmo valor de width }}
                        <div
                            class="tabla_caracteristicas table-responsive barra-deslizadora-mob"
                            id="diferencia_ganancias"
                            style="width: 40rem;"
                        >
                            <table class="texto-link" style="width: 40rem;" cellpadding="7">
                                <thead>
                                    <tr>
                                        <th>Inmueble</th>
                                        <th>Superficie m<sup>2</sup></th>
                                        <th>Precio <span class="lamoneda">Bs</span></th>
                                        <th>Precio <span class="lamoneda">Bs</span>/m<sup>2</sup></th>
                                        <th>Sobreprecio <span class="lamoneda">Bs</span>/m<sup>2</sup></th>
                                    </tr>
                                </thead>

                                <tbody class="cuerpo_filas">
                                    {{#each informacion.precios_mercado_render}}
                                        <tr class="fila_ref">
                                            <td>{{direccion_comparativa}}</td>
                                            <td>{{m2_comparativa}}</td>
                                            <td class="elvalor" data-bs="{{precio_comparativa}}">{{precio_comparativa_r}}</td>
                                            <td class="elvalor" data-bs="{{sus_m2}}">{{sus_m2_r}}</td>
                                            <td class="elvalor" data-bs="{{sobreprecio_venta}}" style="color: red;">{{sobreprecio_venta_r}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <p class="mt-2 text-center h6">
                        <i>Fuente: Estudio de mercado</i>
                    </p>

                </div>

                <div class="col-12">
                    <div class="text-justify texto-normal">
                        <p class="texto-normal" style="text-align: justify;">Analizamos inmuebles
                            próximos a la ubicación del proyecto SOLIDEXA y que guardan similitud
                            con nuestro inmueble.
                        </p>
                    </div>
                </div>

            </div>
            {{! div }}
        </div>

    </div>
</div>

<div class="row mt-5 cuadro_estandart py-3">
    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-hard-hat"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">
            <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i
                        class="fas fa-hard-hat"
                    ></i></span>{{informacion.titulo_construccion_inm}}</div>
            <p class="escritura" style="text-align: justify;">
                {{informacion.texto_construccion_inm}}
            </p>
            <p class="texto-normal" style="text-align: justify;">
                Para más información, ponemos a disposicion de nuestros potenciales clientes los
                detalles del Presupuesto de contrucción del proyecto, en la pestaña "Información
                económica".
            </p>

            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h5 class="texto-link">SOLIDEXA vs Constructoras tradicionales</h5>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_graf_bene">
                        <div class="contendor_graf_sobrep">
                            <canvas id="graficoSobreprecios"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contenedor_val_bene">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-up texto-link"
                                        style="font-size: 2rem;"
                                    ></i>
                                </div>
                                <div class="my-2">
                                    <span class="h3 texto-link elvalor" data-bs="{{contenido_proyecto.solid_constru}}">{{contenido_proyecto.solid_constru_r}}</span>
                                    <span class="h5 texto-link lamoneda">Bs</span>
                                    <span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio de contrucción del inmueble <b>SOLIDEXA</b> es menor.
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div>
                                    <i
                                        class="fas fa-thumbs-down"
                                        style="font-size: 2rem; color: red;"
                                    ></i>
                                </div>
                                <div class="my-2" style="color: red;">
                                    <span class="h3 elvalor" data-bs="{{informacion.prom_constructoras}}">{{informacion.prom_constructoras_r}}</span>
                                    <span class="h5 lamoneda">Bs</span>
                                    <span>/m<sup>2</sup></span>
                                </div>
                                <div>
                                    El precio promedio de construcción de un inmueble <b>tradicional</b> es más elevado.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-3">

                    <div class="d-flex justify-content-center">
                        {{! para un centrado correcto ambos deben tener el msmo valor de width }}
                        <div
                            class="tabla_caracteristicas table-responsive barra-deslizadora-mob"
                            id="constructoras_sobreprecios"
                            style="width: 40rem;"
                        >
                            <table class="texto-link" style="width: 40rem;" cellpadding="7">
                                <thead>
                                    <tr>
                                        <th>Otras constructoras</th>
                                        <th>Precio <span class="lamoneda">Bs</span>/m<sup>2</sup></th>
                                        <th>Precio <span class="lamoneda">Bs</span></th>
                                        <th>Sobreprecio <span class="lamoneda">Bs</span></th>
                                    </tr>
                                </thead>

                                <tbody class="cuerpo_filas">
                                    {{#each informacion.constructoras_render}}
                                        <tr class="fila_ref">
                                            <td>{{nombre}}</td>
                                            <td class="elvalor" data-bs="{{contructora_dolar_m2}}">{{contructora_dolar_m2_r}}</td>
                                            <td class="elvalor" data-bs="{{costo_constructora}}">{{costo_constructora_r}}</td>
                                            <td class="elvalor" data-bs="{{sobreprecio}}" style="color: red;">{{sobreprecio_r}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <p class="mt-2 text-center h6">
                        <i>Fuente: Estudio de mercado</i>
                    </p>

                </div>

                <div class="col-12">
                    <div class="text-justify escritura texto-normal">
                        {{! <b>Nota: </b> }}
                        {{informacion.nota_construccion_inm}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>