{{! PARA INFORME ECONOMICO DESDE EL LADO DEL CLIENTE PUBLICO }}

<div class="row mt-5 cuadro_estandart py-3">

    <div class="col-12 d-flex">
        <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
            <i class="fas fa-file-invoice-dollar"></i>
        </div>

        <div class="mx-md-4 contenedor-detalle-texto">
            <div class="titulo_1 texto-normal"><span class="icono_izq d-inline-block d-md-none"><i
                        class="fas fa-file-invoice-dollar"
                    ></i></span>{{informacion.titulo_economico_inm}}</div>
            <p class="escritura texto-normal" style="text-align: justify;">
                {{informacion.texto_economico_inm}}
            </p>

            <div class="row mt-2">

                <div class="col-12 mb-3">

                    <div class="d-flex justify-content-center">

                        <div class="contenedor_resumen_eco" style="width: 50rem; overflow: auto;">
                            <div class="" style="max-width: 50rem; min-width: 30rem;">
                                <div class="mb-4">
                                    <div class="d-flex justify-content-between texto-normal">
                                        <h5>{{informacion.tipo_inmueble}}</h5>
                                        <div>
                                            {{informacion.superficie_inmueble_m2}}
                                            m<sup>2</sup></div>
                                    </div>
                                    <div class="progress" style="height: 0.5rem;">
                                        <div
                                            class="progress-bar"
                                            role="progressbar"
                                            style="width: 100.00%;"
                                        ></div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div class="texto-normal">
                                            <span class="mr-3">
                                                <span class="lamoneda">Bs</span>
                                                <span
                                                    class="elvalor"
                                                    data-bs="{{informacion.total_presupuesto}}"
                                                >{{informacion.total_presupuesto_r}}</span>
                                            </span>
                                            <span>100,00 %</span>
                                        </div>
                                        <div class="texto-normal">
                                            <span
                                                class="elvalor"
                                                data-bs="{{informacion.sus_m2_total}}"
                                            >{{informacion.sus_m2_total_r}}</span>
                                            <span>
                                                <span class="lamoneda">Bs</span>/m<sup>2</sup>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                {{#each informacion.valores_tabla}}
                                    <div class="mb-4 ml-5">
                                        <h5 class="texto-normal">{{presupuesto_items}}</h5>
                                        <div class="progress" style="height: 0.5rem;">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{porcentaje_item_prog}}%;"
                                            >
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <div class="texto-normal">
                                                <span class="mr-3">
                                                    <span class="lamoneda">Bs</span>
                                                    <span
                                                        class="elvalor"
                                                        data-bs="{{presupuesto_valores}}"
                                                    >
                                                        {{presupuesto_valores_r}}
                                                    </span>
                                                </span>
                                                <span>{{porcentaje_item}} %</span>
                                            </div>
                                            <div class="texto-normal">
                                                <span class="elvalor" data-bs="{{sus_m2}}">
                                                    {{sus_m2_r}}
                                                </span>
                                                <span class="lamoneda">Bs</span>/m<sup>2</sup>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12">
                    <div class="text-justify escritura">
                        {{informacion.nota_economico_inm}}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{{#if informacion.documentacion}}
    <div class="row mt-5 cuadro_estandart py-3">
        <div class="col-12 d-flex">

            <div class="d-none d-md-flex mr-3 contenedor-detalle-icono">
                <i class="fas fa-folder-open"></i>
            </div>

            <div class="contenedor-detalle-texto">
                <div class="titulo_1 texto-normal"><span
                        class="icono_izq d-inline-block d-md-none"
                    ><i class="fas fa-folder-open"></i></span>Documentos</div>

                <div class="ml-md-4">

                    {{#each informacion.documentacion}}
                        <div class="mt-3">
                            <i class="fas fa-file-pdf estilo-pdf-garantia"></i>
                            <a class="ml-3" href="{{url}}" target="_blank">
                                {{titulo_documento}}
                            </a>
                        </div>
                    {{/each}}

                </div>

            </div>

        </div>
    </div>
{{/if}}