{{! para segmento de la pestaña DESCRIPCION de: terreno, proyecto, inmueble, cliente }}

{{! segundero GANANCIA DE PLUSVALÍA }}

{{#if info_segundero}}

    <div class="row mt-5 cuadro_estandart py-3">

        {{#if caracteristicas_inmueble}}
            <div class="col-12 pt-4 pb-3">
                <h3 class="text-center">
                    <div class="envolvente">
                        <i class="fas fa-house-user {{informacion.color_precio_inm}}"></i>
                    </div>
                    <span class="h4">Inmueble</span>
                    <span class="h4">{{informacion.leyenda_precio_inm}}</span>
                </h3>
            </div>
        {{/if}}

        <div class="col-12 col-md-6 py-3">

            <div class="borde_entero p-0 mb-2 d-flex">
                {{! los font-size y font-weight son iguales para "h1", pero sin el espaciado inferior por defecto de los "h´s" }}

                <div class="dolar_seg_social">
                    $us
                </div>

                <div
                    class="text-right px-2 py-1 align-self-center d-block w-100"
                    style="font-size: 2.5rem;font-weight: 500;letter-spacing: 1rem;"
                    id="entero_tot_ret_alq"
                >
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div
                    id="decimales_tot_ret_alq"
                    class="borde_decimal py-1 h4 text-right px-2 www-75"
                    style="letter-spacing: 1rem;"
                >
                    <div class="cd"></div><div class="cd"></div><div class="cd"></div><div
                        class="cd"
                    ></div><div class="cd"></div>
                </div>
            </div>

            <div style="position: relative;">
                <div class="progress" style="height: 2rem;">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 0%;"
                        id="ref_progreso_generandose"
                    ></div>
                </div>
                <div class="css-val-porcentaje-segundero">
                    <b id="ref_valor_progreso_generandose"></b>
                </div>
            </div>

            <div class="px-2 mt-3">
                <h6 class="text-center escritura">
                    {{informacion.mensaje_segundero}}
                </h6>
            </div>

        </div>

        <div class="col-12 col-md-6 py-3">
            <div class="row">

                <div class="col-4">
                    <div class="p-2">
                        <div>
                            <div style="text-align: center;">
                                <i class="fas fa-hard-hat propietario-resumen-icono"></i>
                            </div>

                            <b>
                                <div style="text-align: center;">
                                    <span
                                        class="h5 v_precio_venta_sus"
                                    >{{informacion.val_cajas.precio}}</span>
                                    <span class="h5">$us</span>
                                </div>
                                <h5 style="text-align: center;">Precio Justo</h5>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-2">
                        <div>
                            <div style="text-align: center;">
                                <i class="fas fa-award propietario-resumen-icono"></i>
                            </div>
                            <b>
                                <div style="text-align: center;">
                                    <span
                                        class="h5 v_precio_venta_sus"
                                    >{{informacion.val_cajas.plusvalia}}</span>
                                    <span class="h5">$us</span>
                                </div>
                                <h5 style="text-align: center;">Plusvalía</h5>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-2">
                        <div>
                            <div style="text-align: center;">
                                <i class="fas fa-hotel propietario-resumen-icono"></i>
                            </div>
                            <b>
                                <div style="text-align: center;">
                                    <span
                                        class="h5 v_precio_venta_sus"
                                    >{{informacion.val_cajas.valor_total}}</span>
                                    <span class="h5">$us</span>
                                </div>
                                <h5 style="text-align: center;">Valor total</h5>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-2">
                <h6 class="text-center escritura">
                    {{informacion.significado_segundero}}
                </h6>
            </div>

        </div>
    </div>

{{/if}}

{{! estado y caracteristicas }}

{{#if estado_caracteristicas}}

    <div class="row mt-5 cuadro_estandart py-3">

        {{#if caracteristicas_terreno}}

            <div class="col-12 col-md-6">

                <h4 class="text-center texto-resaltado">Convocatoria abierta</h4>

                <p class="text-justify escritura mt-4">
                    {{informacion.convocatoria}}
                </p>

                <div class="mt-4">
                    <table class="texto-normal w-100" cellpadding="8">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">Plazo</h5>
                                        <div>
                                            <span
                                                class="h5"
                                            >{{informacion.val_segundero_cajas.progresos.etiqueta_plazo}}</span>
                                        </div>

                                    </div>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center h4" colspan="3">
                                    <div style="position: relative;">
                                        <div class="progress" style="height: 2rem;">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{informacion.val_segundero_cajas.progresos.porcentaje_plazo}}%;"
                                                id="ref_progreso_generandose"
                                            ></div>
                                        </div>
                                        <div class="css-val-porcentaje-segundero">
                                            <b
                                                id="ref_valor_progreso_generandose_1"
                                            >{{informacion.val_segundero_cajas.progresos.porcentaje_plazo_render}}
                                                %</b>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="mt-4">
                    <table class="texto-normal w-100" cellpadding="8">
                        <thead>
                            <tr style="border: none;">
                                <th class="text-center" colspan="3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">Registrados</h5>
                                        <div>
                                            <span
                                                class="h5"
                                            >{{informacion.val_segundero_cajas.progresos.etiqueta_fina_vaca}}</span>
                                        </div>

                                    </div>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center h4" colspan="3">
                                    <div style="position: relative;">
                                        <div class="progress" style="height: 2rem;">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{informacion.val_segundero_cajas.progresos.porcentaje_fina_vaca}}%;"
                                                id="ref_progreso_generandose"
                                            ></div>
                                        </div>
                                        <div class="css-val-porcentaje-segundero">
                                            <b
                                                id="ref_valor_progreso_generandose_2"
                                            >{{informacion.val_segundero_cajas.progresos.porcentaje_fina_vaca_render}}
                                                %</b>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>

        {{else}}

            {{! para caracteristicas del lado IZQUIERDO de: Proyecto, Inmueble }}

            <div class="table-responsive barra-deslizadora-mob col-12 col-md-6">

                <h4 class="text-center texto-resaltado mt-2 mb-5">Estado actual</h4>

                <div class="row">
                    <div class="col-4">
                        {{#if informacion.resplandor_1}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-resplandor" data-id="reserva">
                                    1
                                </div>
                            </div>

                            <div class="h5 text-center mt-3">
                                Reserva
                            </div>
                        {{else}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-estado">
                                    1
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Reserva
                            </div>
                        {{/if}}
                    </div>

                    <div class="col-4">
                        {{#if informacion.resplandor_2}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-resplandor" data-id="pago">
                                    2
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Pago
                            </div>
                        {{else}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-estado">
                                    2
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Pago
                            </div>
                        {{/if}}
                    </div>

                    <div class="col-4">
                        {{#if informacion.resplandor_3}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-resplandor" data-id="aprobacion">
                                    3
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Aprobación
                            </div>
                        {{else}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-estado">
                                    3
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Aprobación
                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        {{#if informacion.resplandor_4}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-resplandor" data-id="construccion">
                                    4
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Contrucción
                            </div>
                        {{else}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-estado">
                                    4
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Contrucción
                            </div>
                        {{/if}}
                    </div>

                    <div class="col-4">
                        {{#if informacion.resplandor_5}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-resplandor" data-id="construido">
                                    5
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Construido
                            </div>
                        {{else}}
                            <div class="celda-tabla-circulo-estados">
                                <div class="css-numero-estado">
                                    5
                                </div>
                            </div>
                            <div class="h5 text-center mt-3">
                                Construido
                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="mt-4">
                    <table class="text-normal w-100" cellpadding="8">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">Plazo</h5>
                                        <div>
                                            <span
                                                class="h5"
                                            >{{informacion.val_segundero_cajas.progresos.etiqueta_plazo}}</span>
                                        </div>

                                    </div>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center h4" colspan="3">
                                    <div style="position: relative;">
                                        <div class="progress" style="height: 2rem;">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{informacion.val_segundero_cajas.progresos.porcentaje_plazo}}%;"
                                                id="ref_progreso_generandose"
                                            ></div>
                                        </div>
                                        <div class="css-val-porcentaje-segundero">
                                            <b
                                                id="ref_valor_progreso_generandose_1"
                                            >{{informacion.val_segundero_cajas.progresos.porcentaje_plazo_render}}
                                                %</b>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="mt-4">
                    <table class="text-normal w-100" cellpadding="8">
                        <thead>
                            <tr style="border: none;">
                                <th class="text-center" colspan="3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">Financiamiento</h5>
                                        <div>
                                            <span
                                                class="h5"
                                            >{{informacion.val_segundero_cajas.progresos.etiqueta_fina_vaca}}</span>
                                        </div>

                                    </div>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center h4" colspan="3">
                                    <div style="position: relative;">
                                        <div class="progress" style="height: 2rem;">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{informacion.val_segundero_cajas.progresos.porcentaje_fina_vaca}}%;"
                                                id="ref_progreso_generandose"
                                            ></div>
                                        </div>
                                        <div class="css-val-porcentaje-segundero">
                                            <b
                                                id="ref_valor_progreso_generandose_2"
                                            >{{informacion.val_segundero_cajas.progresos.porcentaje_fina_vaca_render}}
                                                %</b>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>

        {{/if}}

        {{! para caracteristicas del lado DERECHO de: Terreno, Proyecto, Inmueble }}

        <div class="col-12 col-md-6 mt-4 mt-md-0">
            {{#if caracteristicas_terreno}}
                <div class="tabla_caracteristicas table-responsive">
                    <table class="texto-normal w-100" cellpadding="8">

                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">
                                    <h4 class="texto-resaltado">Características</h4>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td class="h5 text-left">
                                    <i
                                        class="fas fa-money-bill icono_py_grales texto-resaltado"
                                    ></i>
                                    <span>Precio</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.precio_sus}}</span>
                                    <span>$us</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i
                                        class="fas fa-ruler-combined icono_py_grales texto-resaltado"
                                    ></i>
                                    <span>Superficie</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.superficie}}</span>
                                    <span>m<sup>2</sup></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i
                                        class="fas fa-layer-group icono_py_grales texto-resaltado"
                                    ></i>
                                    <span>Máx. Pisos<sup><b>a</b></sup></span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.maximo_pisos}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="text-justify alert alert-primary mt-3">
                        <sup><b>a&nbsp;</b></sup>Por normativa vigente se refiere al número máximo
                        de pisos que se permiten construir en la zona.
                    </div>
                </div>

                <div class="tabla_caracteristicas table-responsive barra-deslizadora-mob">
                    <table class="texto-normal w-100" cellpadding="8">

                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">
                                    <h4 class="texto-resaltado">Anteproyectos</h4>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-hotel icono_py_grales texto-resaltado"></i>
                                    <span>Permitidos</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.anteproyectos_maximo}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i
                                        class="fas fa-check-circle icono_py_grales texto-resaltado"
                                    ></i>
                                    <span>Registrados</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.anteproyectos_registrados}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i
                                        class="fas fa-exclamation-circle icono_py_grales texto-resaltado"
                                    ></i>
                                    <span>Vacantes</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.anteproyectos_libres}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            {{/if}}

            {{#if caracteristicas_proyecto}}
                <div class="tabla_caracteristicas table-responsive barra-deslizadora-mob">
                    <table class="texto-normal w-100" cellpadding="8">

                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">
                                    <h4 class="texto-resaltado">Características</h4>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-hard-hat icono_py_grales"></i>
                                    <span>Precio Justo<sup><b>a</b></sup></span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.construccion}}</span>
                                    <span>$us</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-ruler-combined icono_py_grales"></i>
                                    <span>Superficie</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.area_construida}}</span>
                                    <span>m<sup>2</sup></span>
                                </td>
                            </tr>

                            {{#if informacion.tipo_edificio}}
                                <tr>
                                    <td class="h5 text-left">
                                        <i class="fas fa-house-user icono_py_grales"></i>
                                        <span>Departamentos</span>
                                    </td>

                                    <td class="text-right h5">
                                        <span>{{informacion.total_departamentos}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5 text-left">
                                        <i class="fas fa-briefcase icono_py_grales"></i>
                                        <span>Oficinas</span>
                                    </td>

                                    <td class="text-right h5">
                                        <span>{{informacion.total_oficinas}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5 text-left">
                                        <i class="fas fa-store icono_py_grales"></i>
                                        <span>Comerciales</span>
                                    </td>

                                    <td class="text-right h5">
                                        <span>{{informacion.total_comerciales}}</span>
                                    </td>
                                </tr>
                            {{/if}}

                            {{#if informacion.tipo_condominio}}
                                <tr>
                                    <td class="h5 text-left">
                                        <i class="fas fa-house-user icono_py_grales"></i>
                                        <span>Casas</span>
                                    </td>

                                    <td class="text-right h5">
                                        <span>{{informacion.total_casas}}</span>
                                    </td>
                                </tr>
                            {{/if}}

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-door-closed icono_py_grales"></i>
                                    <span>Dormitorios</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.nt_dormitorios}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-bath icono_py_grales"></i>
                                    <span>Baños</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.nt_banos}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-car icono_py_grales"></i>
                                    <span>Garajes</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.garajes}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-clock icono_py_grales"></i>
                                    <span>Construcción</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.meses_construccion}}</span>
                                    <span>Meses</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="alert alert-primary mt-3">
                        <span><sup><b>a&nbsp;</b></sup></span>
                        <span>
                            <span class="escritura">{{informacion.nota_precio_justo}}</span>
                        </span>
                    </div>
                </div>
            {{/if}}

            {{#if caracteristicas_inmueble}}
                <div class="tabla_caracteristicas table-responsive barra-deslizadora-mob">
                    <table class="texto-normal w-100" cellpadding="8">

                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">
                                    <h4 class="texto-resaltado">Características</h4>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-tag icono_py_grales"></i>
                                    <span>Clase</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.tipo_inmueble}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-hard-hat icono_py_grales"></i>
                                    <span>Precio Justo<sup><b>a</b></sup></span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.construccion}}</span>
                                    <span>$us</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-coins icono_py_grales"></i>
                                    <span>Reservación</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.valor_reserva}}</span>
                                    <span>$us</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-ruler-combined icono_py_grales"></i>
                                    <span>Superficie</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.superficie_inmueble_m2}}</span>
                                    <span>m<sup>2</sup></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-door-closed icono_py_grales"></i>
                                    <span>Dormitorios</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.dormitorios_inmueble}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-bath icono_py_grales"></i>
                                    <span>Baños</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.banos_inmueble}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-car icono_py_grales"></i>
                                    <span>Garajes</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.garaje_inmueble}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="h5 text-left">
                                    <i class="fas fa-clock icono_py_grales"></i>
                                    <span>Construcción</span>
                                </td>

                                <td class="text-right h5">
                                    <span>{{informacion.plazo}}</span>
                                    <span>Meses</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="alert alert-primary mt-3">
                        <span><sup><b>a&nbsp;</b></sup></span>
                        <span>
                            <span class="escritura">{{informacion.nota_precio_justo}}</span>
                        </span>
                    </div>

                </div>
            {{/if}}

        </div>
    </div>

{{/if}}